<body>
    <section class="form h-100">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="img-left col-lg-8"></div>
                <div class="align-self-center col-lg-4">
                    <form action="/dashboard" class="col-lg-11">
                        <h3 class="mb-5">Welcome, Admin BCR</h3>
                        <div class="form-row my-2">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="Email" id="email"
                                placeholder="Contoh: johndee@gmail.com">
                        </div>
                        <div class="form-row my-2">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="Password" id="password"
                                placeholder="6+ karakter">
                        </div>
                        <div class="form-row my-3">
                            <button type="submit" class="login-btn">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>